:root {
    --bg-color: #0b0b58;
    --inverted-bg-color: #b9b9c3;

    --primary-color: #049604;
    --secondary-color: #04ff04;

    --inverted-primary-color: #163698;
    --inverted-secondary-color: #2f6df4;
}